[submodule "awesome"]
	path = awesome
	url = https://github.com/brudihawo/awesome
[submodule "vim"]
	path = vim
	url = https://github.com/brudihawo/vim
[submodule "nvim"]
	path = nvim
	url = https://github.com/brudihawo/nvim
	update = rebase
	branch = main
