*.color0:	#0A192B
*.color1:	#A0686A
*.color2:	#C9766F
*.color3:	#9F8A7E
*.color4:	#9D9FA1
*.color5:	#DCB8A1
*.color6:	#E1CDA8
*.color7:	#e9ded5
*.color8:	#a39b95
*.color9:	#A0686A
*.color10:	#C9766F
*.color11:	#9F8A7E
*.color12:	#9D9FA1
*.color13:	#DCB8A1
*.color14:	#E1CDA8
*.color15:	#e9ded5
*.background:	#0A192B
*.foreground:	#e9ded5

URxvt*background:	[100]#0A192B
URxvt*borderColor:	[100]#0A192B
URxvt*cursorColor:	#e9ded5
URxvt*depth:	32
URxvt*foreground:	#e9ded5
URxvt.font:	Noto Sans Mono

UXTerm*background:	#0A192B
UXTerm*cursorColor:	#e9ded5
UXTerm*foreground:	#e9ded5

XClock*background:	#0A192B
XClock*foreground:	#e9ded5
XClock*hourColor:	rgba:e9/de/d5/ff
XClock*majorColor:	rgba:e9/de/d5/ff
XClock*minorColor:	rgba:e9/de/d5/ff
XClock*minuteColor:	rgba:e9/de/d5/ff
XClock*secondColor:	rgba:e9/de/d5/ff

XTerm*background:	#0A192B
XTerm*cursorColor:	#e9ded5
XTerm*foreground:	#e9ded5
Xterm*faceName:	iosevka
xterm*faceName:	Noto Sans Mono
xterm*faceSize:	15
xterm*renderFont:	true

emacs*background:	#0A192B
emacs*foreground:	#e9ded5

st.font: Noto Sans Mono:pixelsize=16
