color0: "#2a2520"
color1: "#7d2a2f"
color2: "#78997a"
color3: "#e49b5d"
color4: "#697893"
color5: "#b380b0"
color6: "#86a3a3"
color7: "#ece1d7"
color8: "#8e733f"
color9: "#f17c64"
color10: "#78997a"
color11: "#ebc06d"
color12: "#88b3b2"
color13: "#ce9bcb"
color14: "#99d59d"
color15: "#ece1d7"
background: "#352f2a"
foreground: "#c1a78e"
Xft.dpi: 163

URxvt*borderColor:	[100]#0A192B
URxvt*cursorColor:	#e9ded5
URxvt*depth:	32
URxvt.font:	Noto Sans Mono

UXTerm*cursorColor:	#e9ded5

XClock*hourColor:	rgba:e9/de/d5/ff
XClock*majorColor:	rgba:e9/de/d5/ff
XClock*minorColor:	rgba:e9/de/d5/ff
XClock*minuteColor:	rgba:e9/de/d5/ff
XClock*secondColor:	rgba:e9/de/d5/ff

XTerm*cursorColor:	#e9ded5
Xterm*faceName:	iosevka
xterm*faceName:	Noto Sans Mono
xterm*faceSize:	15
xterm*renderFont:	true

emacs*background:	#0A192B
emacs*foreground:	#e9ded5

Xcursor.theme: LyraG
Xcursor.size: 32
