configuration {
  modi: "run, drun, window, combi";
  combi-modi: "run,drun,window";
  width: 1920;
  lines: 24;
  columns: 1;
  terminal: "alacritty";
  matching: "fuzzy";
  sort: true;
  sorting-method: "fzf";
  font: "Noto Sans Mono 32";
}

@import "~/.config/rofi/colorscheme.rasi"
