configuration {
  modi: "run, drun, window, combi";
  combi-modi: "run,drun,window";
  width: 1920;
  lines: 24;
  columns: 1;
  terminal: "termite";
  matching: "fuzzy";
  sort: true;
  sorting-method: "fzf";
  font: "Noto Sans Mono 20";
}

/* @import "~/.cache/wal/colors-rofi-dark" */
@import "gruvbox-dark.rasi"
