configuration {
  modi: "run, drun, window, combi";
  combi-modi: "run,drun,window";
  width: 1280;
  lines: 15;
  columns: 1;
  terminal: "termite -e 'wal -R'";
  matching: "fuzzy";
  sort: true;
  levenshtein-sort: true;
}

/* @import "~/.cache/wal/colors-rofi-dark" */
@import "gruvbox-dark.rasi"
